<section class="sctn-scripts">
	<div class="content">
		{{#each projects}}
			<div class="script-wrap">
				<div class="script-info-wrap">
					<div class="script-title">{{title}}</div>
					<div><i>{{role}}</i></div>
				</div>

				<div class="script-text-wrap">
					{{#if location}}
						{{location}}.<br><br>
					{{/if}}

					<p>{{{text}}}</p>

					<div class="script-awards-wrap">
						{{#each awards}}
							<p>• &nbsp;<i>{{award}}</i>&nbsp; - {{festival}}</p>
						{{/each}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</section>
