<!-- MOBILE NAV -->
<button class="mobile-burger">
  <div class="burger-bar"></div>
  <div class="burger-bar"></div>
  <div class="burger-bar"></div>
</button>

<div class="mobile-menu hide-menu">
  {{#each navCategories}}
    <button class="mobile-nav-button scroll" data-target={{target}}>{{title}}</button>
  {{/each}}
  <a class="mobile-nav-button" href="mailto:info@michaeldaviesfilms.com">CONTACT</a>
</div>

<!-- SIDE NAV -->
<nav class="desktop-nav">
  <button class="logo desktop"></button>
  <div class="nav-button-wrap">
    {{#each navCategories}}
      <div class="nav-thing">
        <button class="nav-button scroll" data-target={{target}}>{{title}}</button>
        <div class="stick"></div>
      </div>
    {{/each}}
    <div class="nav-thing">
      <a class="nav-button" href="mailto:info@michaeldaviesfilms.com">CONTACT</a>
      <div class="stick"></div>
    </div>
  </div>
</nav>

<!-- LANDING -->
<section class="sctn-landing">
  <div class="mobile-logo"></div>
</section>

<!-- ABOUT -->
{{> divider id="about" text="ABOUT"}}

<section class="sctn-about">
  <div class="content">
    <!-- PORTRAIT AND IMDB LINKS -->
    <div class="portrait-imdb-wrap">
      <img class="portrait" src="./pics/portrait.png" alt="Profile picture">
      <div>
        <a class="imdb-link" target="_blank" href="http://www.imdb.com/name/nm1844080/">IMDb</a>
        <a class="imdb-link" target="_blank" href="https://pro-labs.imdb.com/name/nm1844080">IMDb Pro</a>
      </div>
    </div>

    <!-- ABOUT TEXT -->
    <div class="about-text">
      <p>MICHAEL DAVIES is a BAFTA and RTS award-winning writer and director.</p>
			<p>Following a BA in Drama from Manchester University and an MA in Film and Television from Bristol University, Michael began his career at the BBC, making documentaries, before moving into drama-documentaries, dramatised adventure and factualised entertainment programmes.</p>
      <p>Michael was selected for the BFI London Film Festival's <i>Think Shoot Distribute</i> course for emerging feature film directors, and won a place on the Directing Actors course at the NFTS, and now directs and writes drama for film, TV and theatre.</p>
			<p>He worked on the hit BBC children’s drama <i>Tracy Beaker Returns</i>, directing on all three series, winning a BAFTA and two RTS awards.</p>
			<p>Michael first short film <i>What’s ‘Virgin’ Mean?</i> &nbsp;screened at over sixty international festivals, winning eight awards and attracting more than ten million hits on YouTube. Unusually for short film, it also made a profit.</p>
			<p>His second short, <i>Love At First Sight</i>, starring Phyllida Law and John Hurt, was supported by the Wellcome Trust and a <i>Secret Millionaire</i>.  It won fourteen awards, including an RTS, Rushes and Raindance, and was shortlisted for an Oscar.</p>
    </div>
  </div>
</section>

<!-- PORTFOLIO -->
{{#each portfolio}}
	{{> divider id=key text=category}}

	{{#if isText}}
		{{> text_block this}}
	{{else}}
    {{> media_block this}}
	{{/if}}
{{/each}}
